.dropdown-container{
    position: fixed;
    top:55px;
    right: 0px;
    border: 2px solid #eee;
    height: auto;
    width: 200px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    background:white;
    border-radius: 1rem;
    

}
section{
    margin:1rem 0;
}
.dropdown-top{
    display: flex;
    flex-direction: row;
}
.dropdown-divider{
    height: 2px;
    background-color: gray;
    width: 80%;

}
.dropdown-pp-userdetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5px;
}
.dropdown-profile-pic{
    height: 64px;
    width: 64px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}
.dropdown-links{
    line-height: 1.7;
}